.notfound-container {
    height: 100vh;
    background-color:white;

  }
  .container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    max-height: 300px;
    font-family: Roboto;
    color:black;
   }

h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-top:100px;
}

p {
    padding-top: 20px;
    max-width: 300px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 18px;
}