.body-home {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%,rgba(237,67,67,.7) 99%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 450px;
    color: white;
    padding-top: 75px;
}
.home-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;
}

.enter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;   
}

h1 {
    font-size: 35px;
}