
<div class="body-register">
  <div class="container-register">
    <div class="home-title">
      <h1>Register</h1>
    </div>

<form [formGroup]="registerForm" 
      class="register-form"
      [ngClass]="{ 'submitting': submitting}"
      (ngSubmit)="postNewColonist($event)">

  <div id="form_div">
      <div id="form">
          <input type="text" class="field" placeholder="Name" formControlName="name" name="name"/><br>
          <input type="number" class="field" placeholder="Age" formControlName="age" name="age" />
                <select formControlName="job_id" name="job_id">
                  <option value="(none)">Select an Occupation</option>
                  <option *ngFor="let job of marsJobs" value="{{ job.id }}">{{ job.name }}</option>
                </select>
      </div>  
  </div>
  
      <div class="home-subtitle">
        <button>Submit</button>
      </div>
</form>


  </div>
</div>