
<div class="body-register">
  <div class="container-register">
    <div class="home-title">
      <h1>Register</h1>
    </div>

<form [formGroup]="registerForm" [ngClass]="{ invalid:registerForm.invalid }">
  <div id="form_div">
      <div id="form">
          <input type="text" class="field" placeholder="Name" required formControlName="name" name="colonistName"/><br>
          <input type="number" class="field" placeholder="Age" required formControlName="age" name="colonistAge" />
                <select required formControlName="job_id" name="job_id">
                  <option value="(none)">Select an Occupation</option>
                  <option *ngFor="let job of marsJobs" value="{{ job.id }}">{{ job.name }}</option>
                </select>
      </div>  
      <button type="button"(click)="logColonist()">Log Colonist</button>
  </div>
</form>

    <div class="home-subtitle">
     <a routerLink = "/encounters"><h1>Check in</h1></a>
    </div>
  </div>
</div>