.body-register {
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    height:100vh;
    background-color: black;
}
.container-register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 400px;
    color: white;
    padding-top: 50px;
}
.home-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;
}

.home-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

/*Form*/

#form_div{
  width:300px;
  height:300px;
  margin:50px auto;
  background-color:none;
  font-size: 25px;
}

::placeholder {
    color: rgb(213,213,213);
    font-size: 18px;
    font-family: Roboto;
    padding-left: 5px;
}

select {
    font-size: 18px;
    font-family: Roboto;
}

#form{
  width:300px;
  margin:0px auto;
}

.field, select{
    height:30px;
  width:300px;
  padding:2px;
  border:none;
  outline:none;
  background:none;
  color:#41f1f4;;
  font-style:Roboto;
  border-bottom:.5px solid rgb(255, 144, 116);
  margin-bottom:8px; 
}

#message{
  resize:none;
  height:100px;
  overflow-y:hidden;
}

input.field, select {
    font-size: 20px;
    color:#41f1f4;
    font-family: Roboto;
}

button {
    background-color: black;
    border: 1px solid white;
    height:25px;
    width:100px;
    color: rgb(213,213,213);
    font-family: Roboto;
    font-size: 12px;
}