
<div class="body-register">
  <div class="container-register">
    <div class="home-title">
      <h1>Register</h1>
    </div>

<div id="form_div">
    <div id="form">
        <input type="text" class="field" placeholder="Name" /><br>
        <input type="email" class="field" placeholder="E-mail" />
        <input list="Occupations" class="field" placeholder="Occupation">
            <datalist id="Occupations">
              <option value="Alien Hunter">
              <option value="Yoga Instructor">
              <option value="Dust Farmer">
              <option value="Front-End Developer">
            </datalist>
    </div>  
</div>

    <div class="home-subtitle">
     <a routerLink = "/encounters"><h1>Check in</h1></a>
    </div>
  </div>
</div>